
@font-face {
    font-family: 'KeepCalm';
    src: url('../fonts/KeepCalm-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

#hero {
    /*
        vlcsnap-2018-09-07-17h01m03s735.png 
        vlcsnap-2018-09-07-17h05m47s048.png
    */
    background: url('../img/vlcsnap-2018-09-07-17h05m47s048-min.jpg') center;
    height: 100vh;
    background-size: cover;
}

#hero-call {
    margin-top: 12.5%;
    margin-left: 12.5%;
}

#hero-call h1 {
    font-size: 7vmin;
    font-family: 'KeepCalm';
    color: white;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
}


#hero-call h2 {
    font-size: 5.5vmin;
    font-family: 'KeepCalm';
    color: white;
    padding-top:3vmin;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
}

.wrapper {
    background-color: rgba(0,0,0,.15);
    height: 100%;
}

.social-media-img {
    height: 10vmin;
    width: auto;
}

.social-listing {
    padding-left: 10px;
    padding-bottom: 10px;
    clear:both;
}
